@font-face {
    font-family: 'Harrington';
    src:url('/fonts/Harrington/Harrington.ttf.woff') format('woff'),
        url('/fonts/Harrington/Harrington.ttf.svg#Harrington') format('svg'),
        url('/fonts/Harrington/Harrington.ttf.eot'),
        url('/fonts/Harrington/Harrington.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
    
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

nav div .logo {
    padding: 0px 20px;
    float:left;
}

nav ul {
    list-style-type: none;
    margin: 0 100;
    padding: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #0f0d30;
    position: fixed;
    float: left;
}

nav li {
    float: left;
    text-align: center;
    background-color: #070;
}

nav li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

nav img {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    padding: 7px 8px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    color: white;
}

h1 {
    color: #800000f0;
    text-decoration: line-through;
    letter-spacing:100px;
    word-spacing: 1px;
}

body {
  background-image: url('/img/IMG_20220114_093506.jpg');
  background-size: cover;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4CAF50;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 12px 16px; */
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
